# Logitech Litra Glow (c900)
SUBSYSTEM=="usb", ATTR{idVendor}=="046d", ATTR{idProduct}=="c900", MODE="0666", TAG+="uaccess"

# Logitech Litra Beam (c901)
SUBSYSTEM=="usb", ATTR{idVendor}=="046d", ATTR{idProduct}=="c901", MODE="0666", TAG+="uaccess"

# Logitech Litra Beam LX (ca03)
SUBSYSTEM=="usb", ATTR{idVendor}=="046d", ATTR{idProduct}=="ca03", MODE="0666", TAG+="uaccess"
